
<div id="index-title">
  <h1>OMDB</h1>
  <p>- Find your movie -</p>
</div>

<form id="input-box" action="/results">
  <input type="text" name="movie_name" placeholder="type movie name here">
  <button>Find</button>
</form>
